/*Created with Adobe RoboHelp 11.*/
caption.tkdocnumberedlistsubitem {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -36.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tapssptableproceduresubsteppara {
	margin-left: 28.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.taliptablelistparagraph {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-left: 18pt;
	line-height: Normal;
	text-decoration: none;
}
caption.taliptablelistparagraph {
	margin-left: 14.400pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.SeparatorsIX {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.prspsubprocedureparagraph {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-left: 52pt;
	margin-top: 0pt;
	text-decoration: none;
}
caption.prspsubprocedureparagraph {
	margin-left: 90.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.prprocedurestep {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-top: 5pt;
	list-style: rh-list;
	x-list-class: rl-p-prprocedurestep;
	x-list-level: 1;
	margin-left: 48px;
	text-decoration: none;
}
caption.prprocedurestep {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.nonote {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 5.000pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
	padding-right: 20px;
	padding-bottom: 15px;
	font-size: 10pt;
	font-family: Arial;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	background-color: #d6d6d6;
	margin-top: 10pt;
	padding-top: 15px;
	line-height: 150%;
	padding-left: 20px;
	margin-left: 50pt;
	text-decoration: none;
}
caption.nonote {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	list-style: inside url(url);
	text-decoration: none;
}
caption.tkmodhead {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -72.000pt;
	margin-top: 21.000pt;
	margin-bottom: 5.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.Title {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 24.000pt;
	margin-bottom: 12.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 18.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.tattabletext {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	line-height: Normal;
	text-decoration: none;
}
caption.tattabletext {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h1 {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 3.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 19.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h0titleTOC {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 8.000pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Verdana;
	font-size: 10pt;
	margin-top: 0pt;
	text-decoration: none;
}
caption.documentinfo {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 15.000pt;
	font-family: Futura;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.02em;
	text-decoration: none;
}
caption.tapsstableproceduresubstep {
	margin-left: 28.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -14.400pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.talitablelist {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -14.400pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	list-style: rh-list;
	x-list-class: rl-p-talitablelist;
	x-list-level: 1;
	margin-left: 18pt;
	line-height: Normal;
	text-decoration: none;
}
caption.talitablelist {
	margin-left: 14.400pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -14.400pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.prpprocedureparagraph {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-left: 36pt;
	margin-top: 5pt;
	text-decoration: none;
}
caption.prpprocedureparagraph {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.MappingTableTitle {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 2.000pt;
	margin-bottom: 2.000pt;
	font-family: Times;
	font-style: normal;
	font-weight: normal;
	font-size: 14.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.HeadingRunIn {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h0 {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 8.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 29.0pt;
	color: #ffffff;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.fcwfigurecaptionwide {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 9.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tkdocnumberedliststart {
	margin-left: 90.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.lilistbullet2 {
	margin-right: 0.000pt;
	text-align: left;
	margin-top: 0.000pt;
	margin-bottom: 2.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	list-style: rh-list;
	x-list-class: rl-p-lilistbullet2;
	x-list-level: 1;
	font-family: Arial;
	line-height: 150%;
	text-indent: -8pt;
	margin-left: 57pt;
	text-decoration: none;
}
caption.lilistbullet2 {
	margin-left: 97.200pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -7.200pt;
	margin-top: 0.000pt;
	margin-bottom: 2.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.Level3IX {
	margin-left: 57.600pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -36.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h3pinnedTOC {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h3 {
	margin-left: 54.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 18.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h2pinnedTOC {
	margin-left: 98.352pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.cocode {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-left: 50pt;
	font-family: "Courier New";
	text-decoration: none;
}
caption.cocode {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: "Courier New";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.calloutblack {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-left: 0pt;
	text-decoration: none;
}
caption.calloutblack {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.tapptableprocedureparagraph {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-left: 18pt;
	line-height: Normal;
	text-decoration: none;
}
caption.tapptableprocedureparagraph {
	margin-left: 14.400pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.TableFootnote {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -8.784pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-left: 9pt;
	text-decoration: none;
}
caption.TableFootnote {
	margin-left: 8.784pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -8.784pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.lilistbullet {
	text-align: left;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-right: 20pt;
	font-family: Arial;
	line-height: 150%;
	text-indent: -18pt;
	list-style: rh-list;
	x-list-class: rl-p-lilistbullet;
	x-list-level: 1;
	margin-left: 52pt;
	text-decoration: none;
}
caption.lilistbullet {
	margin-left: 90.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h3pinned {
	margin-left: 54.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 18.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h2 {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 17.000pt;
	margin-bottom: 0.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.documentname {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 40.000pt;
	font-family: Futura;
	font-style: normal;
	font-weight: bold;
	font-size: 30.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.documentdate {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 15.000pt;
	font-family: Futura;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.02em;
	text-decoration: none;
}
p.lip2list2paragraph {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 2.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-top: 5pt;
	line-height: 150%;
	x-next-class: lip2list2paragraph;
	x-next-type: p;
	margin-left: 58pt;
	text-decoration: none;
}
caption.lip2list2paragraph {
	margin-left: 97.200pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 2.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.GroupTitlesIX {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 2.000pt;
	font-family: Futura;
	font-style: normal;
	font-weight: bold;
	font-size: 13.0pt;
	color: #b30118;
	background-color: none;
	letter-spacing: -0.02em;
	text-decoration: none;
}
p.prtproceduretitle {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-top: 10pt;
	font-family: Arial;
	x-next-class: prprocedurestep;
	x-next-type: p;
	margin-left: 18pt;
	text-decoration: none;
}
caption.prtproceduretitle {
	margin-left: 54.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 15.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.prsprocedurestart {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.liplistparagraph {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 10pt;
	font-family: Arial;
	line-height: 150%;
	margin-left: 52pt;
	text-decoration: none;
}
caption.liplistparagraph {
	margin-left: 90.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.Indented {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.bookname {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 37.000pt;
	font-family: Futura;
	font-style: normal;
	font-weight: bold;
	font-size: 30.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.talisptablelistsublistpara {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 5.500pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-top: 0pt;
	line-height: Normal;
	margin-left: 29pt;
	text-decoration: none;
}
caption.talisptablelistsublistpara {
	margin-left: 28.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tactablecaption {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 9.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h2pinned {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 17.000pt;
	margin-bottom: 0.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.attnattention {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	list-style: inside url(url);
	text-decoration: none;
}
caption.tkdocnumberedlistsubstart {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -36.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tapftableprocedurefirst {
	margin-left: 14.400pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -14.400pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.pparagraph {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-top: 5pt;
	font-family: Arial;
	line-height: 150%;
	margin-left: 0pt;
	text-decoration: none;
}
caption.pparagraph {
	margin-left: 54.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.Heading2 {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 12.000pt;
	margin-bottom: 3.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.Footnote {
	margin-right: 18.000pt;
	text-align: left;
	text-indent: -12.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 9pt;
	font-family: Arial;
	margin-left: 12pt;
	text-decoration: none;
}
caption.Footnote {
	margin-left: 30.000pt;
	margin-right: 18.000pt;
	text-align: left;
	text-indent: -12.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.callout {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #b30118;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-left: 0pt;
	text-decoration: none;
}
caption.callout {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #b30118;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.tahtableheader {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	text-decoration: none;
}
caption.tahtableheader {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.Level1IX {
	margin-left: 36.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -36.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.Heading1 {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 6.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tkdocproceduresubstepstart {
	margin-left: 90.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.TableTitle {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.co2code2 {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -3.600pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-left: 58pt;
	font-family: "Courier New";text-decoration: none;
}
caption.co2code2 {
	margin-left: 75.600pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -3.600pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: "Courier New";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h0TOC {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 12.000pt;
	margin-bottom: 2.000pt;
	font-family: "Futura Medium";
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.cwcodewide {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-left: 0pt;
	font-family: "Courier New";text-decoration: none;
}
caption.tkdocnumberedlistitem {
	margin-left: 90.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.talistablelistsublist {
	margin-left: 28.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -14.400pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.MappingTableCell {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 2.000pt;
	margin-bottom: 2.000pt;
	font-family: Times;
	font-style: normal;
	font-weight: normal;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h2TOC {
	margin-left: 98.352pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tkdocproceduresubitem {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -54.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h0ntoc {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Futura;
	font-style: normal;
	font-weight: bold;
	font-size: 24.0pt;
	color: #ffffff;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h0indexTOC {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 12.000pt;
	margin-bottom: 2.000pt;
	font-family: "Futura Medium";
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.co3code3 {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -3.600pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-left: 66pt;
	font-family: "Courier New";text-decoration: none;
}
caption.co3code3 {
	margin-left: 93.600pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -3.600pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: "Courier New";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tkdocsubitem {
	margin-left: 108.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.tantablenote {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	line-height: Normal;
	text-decoration: none;
}
caption.tantablenote {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.tactablecaption {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-top: 0pt;
	font-family: Arial;
	margin-left: 0pt;
	margin-bottom: 2pt;
	text-decoration: none;
}
caption.tacwtablecaptionwide {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 9.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.SortOrderIX {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.prsstsubstep {
	margin-left: 90.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.Level2IX {
	margin-left: 46.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -36.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h1TOC {
	margin-left: 71.712pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h0title {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 26.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	color: #b30118;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 14pt;
	text-decoration: none;
}
p.fcfigurecaption {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 9.000pt;
	margin-bottom: 5.500pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-left: 0pt;
	list-style: rh-list;
	x-list-class: rl-p-fcfigurecaption;
	x-list-level: 1;
	text-decoration: none;
}
caption.fcfigurecaption {
	margin-left: 54.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 9.000pt;
	margin-bottom: 5.500pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tapstableprocedurestep {
	margin-left: 14.400pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -14.400pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.IndexIX {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h4 {
	margin-left: 54.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 15.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h0index {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 24.0pt;
	color: #ffffff;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.tkdocterm {
	margin-left: 72.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.prsssubprocedurestart {
	margin-left: 90.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.productname {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 30.000pt;
	font-family: Futura;
	font-style: normal;
	font-weight: bold;
	font-size: 16.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.02em;
	text-decoration: none;
}
caption.productfamilyname {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 31.000pt;
	font-family: Futura;
	font-style: normal;
	font-weight: bold;
	font-size: 24.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.h3TOC {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	font-family: Syntax;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
span.superscript {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
	font-size: 8pt;
	font-family: Arial;
	vertical-align: super;
	text-decoration: none;
}
span.outputbold {
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0.00em;
	font-size: 10pt;
	font-family: "Courier New";
	text-decoration: none;
}
span.calloutblack {
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	font-family: Arial;
	text-decoration: none;
}
span.highlight {
	font-style: normal;
	font-size: 10.0pt;
	color: #ff0000;
	letter-spacing: 0.00em;
	font-family: Arial;
	text-decoration: none;
}
span.output {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
	font-size: 10pt;
	font-family: "Courier New";
	text-decoration: none;
}
span.callout {
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #e3003e;
	letter-spacing: 0.00em;
	font-family: Arial;
	text-decoration: none;
}
span.italic {
	font-style: italic;
	letter-spacing: 0.00em;
	font-size: 10pt;
	font-family: Arial;
	text-decoration: none;
}
span.hyperlink {
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.00em;
	font-size: 10pt;
	color: #0000ff;
	font-family: Arial;
	text-decoration: none;
}
span.bold {
	font-weight: bold;
	letter-spacing: 0.00em;
	font-size: 10pt;
	font-family: Arial;
	text-decoration: none;
}
span.subscript {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
	font-size: 8pt;
	font-family: Arial;
	vertical-align: sub;
	text-decoration: none;
}
p.breadcrumbs {
	margin-top: 0.5pt;
	font-family: Arial;
	margin-left: 5pt;
}
rh-list.rl-p-lilistbullet {
	x-level-count: 1;
	x-lvl-1-format: "<x>";
	x-lvl-1-type: filled-circle;
}
rh-list.rl-p-lilistbullet2 {
	x-level-count: 1;
	x-lvl-1-format: "<x>";
	x-lvl-1-type: "En Dash";
}
div.droptext {
	overflow: visible;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #bfbfbf;
}
rh-list.rl-p-prsprocedurestart {
	x-level-count: 1;
	x-lvl-1-format: 1.;
	x-lvl-1-type: ;
}
rh-list.rl-p-prsstsubstep {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: lower-alpha;
}
rh-list.rl-p-prsssubprocedurestart {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: lower-alpha;
}
a {
	display: inline;
	font-size: 10pt;
	font-family: Arial;
	color: #003366;
	font-weight: bold;
}
a.popupspot {
	display: inline;
	font-size: 10pt;
	font-family: Arial;
	font-weight: normal;
	border-bottom: 1px dashed #000000;
	text-decoration: none;
}
a.breadcrumbs {
	font-size: 10pt;
	font-family: Arial;
	color: #0054ff;
	text-decoration: none;
}
rh-list.rl-p-tactablecaption {
	x-level-count: 1;
	x-lvl-1-format: "Table <x>.";
	x-lvl-1-type: decimal;
}
rh-list.rl-p-tacwtablecaptionwide {
	x-level-count: 1;
	x-lvl-1-format: "Table <x>.";
	x-lvl-1-type: decimal;
}
a.dropspot {
	font-family: Arial;
	color: #003366;
	x-open-image: url(Hotspot_minus.png);
	x-close-image: url(Hotspot_plus.png);
	display: inline;
	text-decoration: none;
}
a.expandspot {
	color: #0054ff;
	font-family: Arial;
	x-image-place: right;
	x-open-image: url(Hotspot_minus.png);
	x-close-image: url(Hotspot_plus.png);
	text-decoration: none;
}
a.glossterm {
	font-family: Arial;
	color: #0054ff;
	font-weight: normal;
	border-bottom: 1px dashed;
	text-decoration: none;
}
h3 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	margin-top: 10pt;
	font-size: 10pt;
	x-next-class: ;
	x-next-type: p;
	margin-left: 0pt;
}
h4 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 50pt;
	x-next-class: ;
	x-next-type: p;
	margin-top: 15pt;
}
h5 {
	font-weight: bold;
	font-size: 9pt;
	margin-top: 14pt;
	margin-bottom: 14pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	x-next-class: ;
	x-next-type: p;
	margin-left: 50pt;
}
h6 {
	font-weight: bold;
	font-size: 7pt;
	margin-top: 14pt;
	margin-bottom: 14pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	x-next-class: ;
	x-next-type: p;
	margin-left: 50pt;
}
rh-list.Entrust_Numbered {
	x-lvl-2-type: lower-alpha;
	x-lvl-3-type: lower-roman;
	x-lvl-3-format: "<x>&c";
	x-lvl-3-margin: 40px;
	x-lvl-4-type: decimal;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-1-p-class: prprocedurestep;
	x-lvl-1-p-tag: p;
	x-level-count: 9;
	x-lvl-2-margin: 70px;
	x-lvl-2-p-class: prprocedurestep;
	x-lvl-2-p-tag: p;
}
a:hover {
	color: #bfbfbf;
}
span.attention_red {
	font-family: Arial;
	color: #ff0000;
	font-weight: bold;
	font-size: 11pt;
}
table.Entrust_table {
	font-family: Arial;
	font-size: 10pt;
	background-color: #ededed;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	padding-left: 5px;
	margin-bottom: 18px;
	margin-left: 0pt;
	x-row-pat-count: 1;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-col-pat-count: 1;
	x-col-pat-1: 1;
	x-col-pat-1-name: t1Col;
	padding-top: 2px;
	x-border-spacing: 0px;
}
table.Entrust_table tr.t1st td {
	border-top-style: Solid;
	border-top-width: 2px;
	border-top-color: #003366;
}
rh-list.rl-p-fcfigurecaption {
	x-level-count: 1;
	x-lvl-1-format: "Figure:";
	x-lvl-1-type: ;
}
rh-list.rl-p-fcwfigurecaptionwide {
	x-level-count: 1;
	x-lvl-1-format: "Figure <x>.";
	x-lvl-1-type: decimal;
}
table.Entrust_table td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
rh-list.rl-p-tapftableprocedurefirst {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
rh-list.rl-p-tapstableprocedurestep {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
rh-list.rl-p-tableprocedure {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
rh-list.rl-p-prprocedurestep {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
rh-list.rl-p-tableprocedure {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
rh-list.rl-p-talitablelist {
	x-level-count: 1;
	x-lvl-1-format: "<x>";
	x-lvl-1-type: disc;
}
rh-list.Entrust_numbered_table {
	x-lvl-2-type: lower-alpha;
	x-lvl-3-type: lower-roman;
	x-lvl-3-format: "<x>&c";
	x-lvl-3-margin: 40px;
	x-lvl-4-type: decimal;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-margin: 40px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-class: tapstableprocedurestep;
	x-lvl-2-p-tag: p;
	x-level-count: 9;
	x-lvl-1-p-class: tapstableprocedurestep;
	x-lvl-1-p-tag: p;
}
rh-seq.one {
	x-count: 1;
	x-1: 1;
}
p.tapstableprocedurestep {
	margin-top: 0pt;
	text-indent: -18pt;
	margin-left: 18pt;
	margin-bottom: 5.5pt;
	line-height: Normal;
	list-style: rh-list;
	x-list-class: rl-p-tableprocedure;
	x-list-level: 1;
}
p.attnattention {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 5.000pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
	padding-right: 20px;
	padding-bottom: 15px;
	font-size: 10pt;
	font-family: Arial;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	background-color: #d6d6d6;
	margin-top: 10pt;
	padding-top: 15px;
	line-height: 150%;
	padding-left: 20px;
	margin-left: 50pt;
	text-decoration: none;
}
p.tapssptableproceduresubsteppara {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 5.500pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-top: 0pt;
	line-height: Normal;
	margin-left: 29pt;
	text-decoration: none;
}
p.talistablelistsublist {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -7.200pt;
	margin-top: 0.000pt;
	margin-bottom: 2.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	list-style: rh-list;
	x-list-class: rl-p-lilistbullet2;
	x-list-level: 1;
	font-family: Arial;
	line-height: 150%;
	margin-left: 28pt;
	text-decoration: none;
}
p.tapsstableproceduresubstep {
	margin-top: 0pt;
	text-indent: -18pt;
	margin-left: 18pt;
	margin-bottom: 5.5pt;
	line-height: Normal;
	list-style: rh-list;
	x-list-class: rl-p-tableprocedure;
	x-list-level: 1;
}
span.WWWhyperlink {
	color: #0000ff;
	font-family: Arial;
	font-size: 10pt;
}
img.Twisties {
	margin-right: 2px;
	margin-left: 2px;
}
h1 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	font-size: 14pt;
	margin-top: 5pt;
	color: #ffffff;
	background-color: #2d96af;
	x-next-class: pparagraph;
	x-next-type: p;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
h2 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	font-size: 12pt;
	margin-top: 30pt;
	color: #003366;
	x-next-class: ;
	x-next-type: p;
	margin-left: 0pt;
}
p {
	margin-top: 14pt;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Arial;
	font-size: 10pt;
}
table.Entrust_table tr.t1Row td {
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
}
table.Entrust_table td.t1Col {
}
table.Entrust_table tr.t1Row td.last {
	background-color: #ededed;
	font-family: Arial;
	font-size: 10pt;
}
table.Entrust_table td.last {
	background-color: #ededed;
	font-family: Arial;
	font-size: 10pt;
}
table.Entrust_table {
	font-family: Arial;
	font-size: 10pt;
	background-color: #ededed;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	padding-left: 5px;
	margin-bottom: 18px;
	margin-left: 0pt;
	x-row-pat-count: 1;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-col-pat-count: 1;
	x-col-pat-1: 1;
	x-col-pat-1-name: t1Col;
	padding-top: 2px;
	x-border-spacing: 0px;
	x-last-col: 1;
	x-last-col-name: last;
}
p.prsstsubstep {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-family: Arial;
	margin-top: 5pt;
	margin-left: 48px;
	list-style: rh-list;
	x-list-class: Entrust_Numbered;
	x-list-level: 2;
	text-decoration: none;
}
span.expandtext {
	font-family: Arial;
	font-size: 10pt;
}
span.glosstext {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	font-style: italic;
	color: #008080;
}
p.liflistbulletfirst {
	text-align: left;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-right: 20pt;
	font-family: Arial;
	line-height: 150%;
	text-indent: -18pt;
	list-style: rh-list;
	x-list-class: rl-p-lilistbullet;
	x-list-level: 1;
	margin-left: 36pt;
	text-decoration: none;
}
p.FM_h1 {
}
